*
{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #568FF7;
  font-family: sans-serif;
}
.container{
  width: 60%;
  margin: 10% auto;
  text-align: center;
}
.container h1
{
  text-align: center;
  color: #fff;
}

.Listitems
{
  background-color: #fff;
  color: black;
}
.Listitems p
{
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.Listitems span
{
  display: inline-block;
  text-align: center;
  padding: 10px 0 ;
  font-size: 20px;
  border: 0.5px solid #ddd;
}


.Listitems span.name,
form input[type=text]
{
  width: 60%;
}
.Listitems span.age,
form input[type=number]
{
  width: 30%;
}

.Listitems span.action,
form input[type=submit]
{
  width: 10%;
}

.Listitems span.title
{
  background-color: #F9CF59;
  font-weight: bold;
}
.Listitems span.icon
{
  color: red;
  cursor: pointer;
}
form input
{
  background-color: #eee;
  border: transparent;
  padding: 10px;
  border: 0.5px solid #ddd;
}
form input[type=submit]
{
  background-color:  #F9CF59;
  font-weight: bold;
  cursor: pointer;
}